@* Page to make it clear that the form was submitting and clarify the data submitted *@
@{
    ViewData["Title"] = "Thank You!";
}

@model FilmCollection.Models.FilmData

<h2>Thank you for adding:</h2> <br />
<h1>@Model.Title</h1>
<h2>By: @Model.Director</h2>

<a asp-controller="Home" asp-action="MovieList" class="btn btn-primary">See updated Movie List</a>