@* Just a simple page that shows the title and the picture of Joel Hilton *@

@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>The Joel Hilton Film Collection</h1>
<img src="~/img/JoelHiltonHeadshot.jpg" />
